<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.library.ekycnetset">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />


    <application
        android:requestLegacyExternalStorage="true"
      >

        <activity
            android:screenOrientation="portrait"
            android:theme="@style/ThemeFullScreen"
            android:name=".EKycActivity"/>


        <!-- cache directory file provider paths -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- Simple Image Picker activity -->
        <activity
            android:screenOrientation="portrait"
            android:name=".document.SimpleImagePickerActivity" />

        <activity
            android:screenOrientation="portrait"
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/AppTheme"/>

        <activity
            android:screenOrientation="portrait"
            android:name=".document.GalleryPicker" />

    </application>

</manifest>